.about-me-card-container {
}

.about-me-card-container h2 {
}

.flip-container {
    width: fit-content;
    cursor: pointer;
}

.card-inner {
    width: 400px;
    height: 533px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-inner.flipped {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-back {
    transform: rotateY(180deg);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.card-content {
    text-align: center;
    width: 90%;
}
