/* index.css */
:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text-color: #1d1b19;
  --background-color: white;
  --header-footer-bg: #1d1b19;
  --header-footer-color: white;
  --heading-color: #332F2D;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto; /* Takes remaining space after header */
  padding-bottom: 1rem;  /* Space for fixed footer */
  width: 90%;
  margin: auto;
}

header {
  top: 0;
  width: 100%; /* Header nimmt volle Breite ein */
  background-color: var(--header-footer-bg);
  color: var(--header-footer-color);
  z-index: 100;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding-bottom: 0.2rem;
}

.header-content {
  display: flex; /* Nicht inline-flex! */
  flex-wrap: wrap; /* ⚡ Ermöglicht Zeilenumbruch */
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center; /* oder flex-start, je nach Wunsch */
  gap: 1rem;
}

header a,
footer a {
  color: var(--header-footer-color);
}

h1, h2, h3 {
  color: var(--heading-color);
}

p {
  text-align: justify;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

ul li {
  margin: 0.5rem;
}

.button {
  background-color: aliceblue;
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--header-footer-bg);
  color: var(--header-footer-color);
  padding: 0.25rem;
  transform: translateY(calc(100vh - var(--footer-height)));
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

@supports (-webkit-overflow-scrolling: touch) {
  :root {
    --footer-height: calc(var(--header-footer-bg) + 2rem);
  }
}